= simple_form_for @comment, url: api_v1_post_comments_path(@post), remote: true, :html => { :class => 'form-horizontal' } do |f|
  = f.input :commenter
  = f.input :body, :input_html => { :rows => 5 }
  = f.input :parent_id, as: :hidden
  = f.button :submit, 'Save', :class => 'btn btn-success'
