= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f|
  = f.input :title
  = f.input :content, :input_html => { :rows => 5 }
  = f.input :state_event, :as => :state_event
  = f.button :submit, :class => 'btn-primary'