%h1= t('.listing')
%table.table.table-striped
  %thead
    %tr
      %th= t('.title')
      %th= t('.picture')
      %th= t('.content')
      %th= t('.state')
      %th
      %th
      %th
  %tbody
    - @posts.each do |post|
      %tr
        %td= post.title
        %td
          %img{ src: post.picture.thumb }
        %td= post.content
        %td= post.state
        %td= link_to t('.show'), post, :class => 'btn btn-mini'
        %td= link_to t('.edit'), edit_post_path(post), :class => 'btn btn-mini'
        %td= link_to t('.destroy'), post, method: :delete, data: { confirm: t('.confirm') }, :class => 'btn btn-mini btn-danger'
  = paginate @posts
%br/
= link_to t('.new'), new_post_path, :class => 'btn btn-primary'
