%p
  %h1= @post.title
%p
  %img{ src: @post.picture }
%p= @post.content

- if @post.published?
  %section#post-comments
    %legend
      .comments_list
        Comments
        = nested_comments @comments
    %legend
      Add a comment:
      = render "web/posts/comments/form"

%p= link_to 'Edit Post', edit_post_path(@post)
%p= link_to 'Back to Posts', posts_path
