= simple_form_for @post, :html => { :class => 'form-horizontal' } do |f|
    = f.input :title, as: :string
    = f.input :content, as: :text, :input_html => { :rows => 5 }
    = f.input :state_event, :as => :state_event
    = f.button :submit, :class => 'btn-primary'
