<% @post.tags.build %>
<%= simple_form_for @post do |post_form| %>
  <% if @post.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
 
  <div class="field">
    <%= post_form.input :name, as: :string, label: "Name: " %>
  </div>
  <div class="field">
    <%= post_form.input :title, as: :string, label: "Title: " %>
  </div>
  <div class="field">
    <%= post_form.input :content, as: :string, label: "Content: " %>
  </div>
  <h2>Tags</h2>
  <%= render :partial => 'tags/form',
             :locals => {:form => post_form} %>
  <div class="actions">
    <%= post_form.button :submit %>
  </div>
<% end %>