%h1 Listing posts
%table.table.table-striped
  %tr
    %th Title
    %th Content
    %th State
    %th
    %th
    %th
  - @posts.each do |post| 
    %tr
      %td= post.title
      %td= post.content
      %td= post.state
      %td= link_to 'Show', post, :class => 'btn btn-mini'
      %td= link_to 'Edit', edit_post_path(post), :class => 'btn btn-mini'
      %td= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'btn btn-mini btn-danger'
%br/
= link_to 'New Post', new_post_path, :class => 'btn btn-primary'
