!!! 5
%html
  %head
    %title
      Blog

    = stylesheet_link_tag "application"
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags

%body 
  .container
    = bootstrap_flash
    = yield